<!--<div style="display: flex;justify-content: center">-->
<!--<div class="row" style="margin-top: 20px;margin-left: 0px;margin-right: 0px">-->

<div class="" style="padding: 20px;display: flex;justify-content: center">
  <div style="width: 600px">
    <div style="margin-bottom: 20px">
      <span style="font-weight: bold;color: #b68003;font-size: 21px">Stock Out Form</span>
    </div>
    <span>Fuel Type</span>
    <select class="form-control">
      <option value="">Select</option>
      <option value="car">Petrol</option>
      <option value="car">Diesel</option>
    </select>
    <span>Destination</span>
    <select class="form-control">
      <option value="">Select</option>
      <option value="car">Petrol</option>
      <option value="car">Diesel</option>
    </select>
    <span>Date</span>
    <input type="date" class="form-control">
    <span>Time</span>
    <input type="time" class="form-control">
    <span>Amount</span>
    <input type="number" placeholder="Enter Amount" class="form-control">
    <span>Vehicle Number</span>
    <input type="text" placeholder="Enter Vehicle Number" class="form-control">
    <span>Driver Name</span>
    <input type="text" placeholder="Enter Driver Name" class="form-control">
    <span>Driver Number</span>
    <input type="text" placeholder="Enter Driver Number" class="form-control">
    <div style="text-align: right;margin-top: 30px">
      <button class="btn btn-success">Supply Stock</button>
    </div>
  </div>
</div>

<!--<div class="col-12" style="padding: 20px;display: flex">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
