span {
  font-weight: bold;
}

input {
  margin-bottom: 20px;;
  padding: 20px;
}

td {
  padding: 5px 15px 5px 15px;
}

td:nth-child(1) {
  font-weight: bold;
  /*border-right: 1px solid #7c7c7c;*/
}

tr:not(tr:last-child) {
  border-bottom: 1px solid #c0c0c0;
}
