<div>
  <form class="login100-form validate-form" style="padding-top: 40px;background-color: white;width: 700px" (ngSubmit)="addFuelStation()">

    <span>Registration Number</span>
    <input class="form-control" type="text" name="nic" placeholder="Enter Registration Number" [(ngModel)]="fuelStation.id">
    <span>Name</span>
    <input class="form-control" type="text" name="name" placeholder="Enter Name" [(ngModel)]="fuelStation.name">
    <span>Address</span>
    <input class="form-control" type="text" name="address" placeholder="Enter Address" [(ngModel)]="fuelStation.address">
    <span>Contact Number</span>
    <input class="form-control" type="text" name="contact" placeholder="Enter Contact Number" [(ngModel)]="fuelStation.contactNumber">
    <span>Email</span>
    <input class="form-control" type="text" name="email" placeholder="Enter Email" [(ngModel)]="fuelStation.appUser.email">

    <div class="container-login100-form-btn" style="margin-top: 40px">
      <button class="login100-form-btn" type="submit">
        Register
      </button>
    </div>

    <!--<div class="text-center p-t-46 p-b-20">-->
    <!--<span class="txt2">-->
    <!--or sign up using-->
    <!--</span>-->
    <!--</div>-->

    <!--<div class="login100-form-social flex-c-m">-->
    <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
    <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
    <!--</a>-->

    <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
    <!--</a>-->
    <!--</div>-->
  </form>

</div>
