<div>
  <form class="" style="padding-top: 40px;background-color: white;width: 700px" #regFuelStationForm="ngForm"
        (ngSubmit)="regFuelStationForm.form.valid && addFuelStation()" novalidate>

    <div style="margin-top: 20px">Registration Number</div>
    <input class="form-control" type="text" name="regNumber" placeholder="Enter Registration Number"
           [(ngModel)]="fuelStation.id" #regNumber="ngModel" required>
    <div *ngIf="(regNumber.touched || regFuelStationForm.submitted) && regNumber.errors?.required"
         class="validErr">
      Registration Number is required
    </div>

    <div style="margin-top: 20px">Name</div>
    <input class="form-control" type="text" name="name" placeholder="Enter Name"
           [(ngModel)]="fuelStation.name" #fuelName="ngModel" required>
    <div *ngIf="(fuelName.touched || regFuelStationForm.submitted) && fuelName.errors?.required"
         class="validErr">
      Name is required
    </div>

    <div style="margin-top: 20px">Address</div>
    <input class="form-control" type="text" name="address" placeholder="Enter Address"
           [(ngModel)]="fuelStation.address" #address="ngModel" required>
    <div *ngIf="(address.touched || regFuelStationForm.submitted) && address.errors?.required"
         class="validErr">
      Address is required
    </div>

    <div style="margin-top: 20px">District</div>
    <select class="form-control" [(ngModel)]="fuelStation.district" name="district"
            #district="ngModel" required style="margin-bottom: 0px" (change)="getPlaces(fuelStation.district)">
      <option value="">Select</option>
      <option *ngFor="let district of districts" [value]="district">{{district}}</option>
    </select>
    <div *ngIf="(district.touched || regFuelStationForm.submitted) && district.errors?.required"
         class="validErr">
      District is required
    </div>

    <div style="margin-top: 20px">Place</div>
    <select class="form-control" [(ngModel)]="fuelStation.fuelStationPlace.id" name="fuelStationPlace"
            #fuelStationPlace="ngModel" required style="margin-bottom: 0px">
      <option value="">Select</option>
      <option *ngFor="let place of districtPlaces" [value]="place.id">{{place.place}}</option>
    </select>
    <div *ngIf="(fuelStationPlace.touched || regFuelStationForm.submitted) && fuelStationPlace.errors?.required"
         class="validErr">
      Place is required
    </div>

    <div style="margin-top: 20px">Contact Number</div>
    <input class="form-control" type="text" name="contact" placeholder="Enter Contact Number"
           [(ngModel)]="fuelStation.appUser.contactNumber" #contactNumber="ngModel" required>
    <div *ngIf="(contactNumber.touched || regFuelStationForm.submitted) && contactNumber.errors?.required"
         class="validErr">
      Contact Number is required
    </div>

    <div style="margin-top: 20px">Email</div>
    <input class="form-control" type="text" name="email" placeholder="Enter Email"
           [(ngModel)]="fuelStation.appUser.email" #email="ngModel" required>
    <div *ngIf="(email.touched || regFuelStationForm.submitted) && email.errors?.required"
         class="validErr">
      Email is required
    </div>

    <div style="margin-top: 20px">Password</div>
    <input class="form-control" type="password" name="password" placeholder="Enter Password"
           [(ngModel)]="fuelStation.appUser.password"
           #password="ngModel" required>
    <div *ngIf="(password.touched || regFuelStationForm.submitted) && password.errors?.required"
         class="validErr">
      Password is required
    </div>

    <div class="container-login100-form-btn" style="margin-top: 40px;margin-bottom: 40px;flex-wrap: nowrap">
      <button class="login100-form-btn" type="button" [routerLink]="'/login'" style="margin-right: 10px">
        Back to login
      </button>
      <button class="login100-form-btn" type="submit" style="margin-left: 10px">
        Register
      </button>
    </div>

    <!--<div class="text-center p-t-46 p-b-20">-->
    <!--<span class="txt2">-->
    <!--or sign up using-->
    <!--</span>-->
    <!--</div>-->

    <!--<div class="login100-form-social flex-c-m">-->
    <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
    <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
    <!--</a>-->

    <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
    <!--</a>-->
    <!--</div>-->
  </form>

</div>
