<div>
  <form class="login100-form validate-form" style="padding-top: 40px;background-color: white">

    <input class="form-control" type="text" placeholder="NIC">
    <input class="form-control" type="text" placeholder="Name">
    <input class="form-control" type="text" placeholder="Contact Number">
    <input class="form-control" type="text" placeholder="Address">
    <input class="form-control" type="text" placeholder="Address">
    <input class="form-control" type="text" placeholder="Email">
    <input class="form-control" type="text" placeholder="OTP">
    <input class="form-control" type="text" placeholder="Vehicle Number">
    <input class="form-control" type="text" placeholder="Chassis Number">

    <select class="form-control">
      <option value="">Vehicle Type</option>
      <option value="car">Car</option>
    </select>

    <div style="margin-bottom: 10px;margin-left: 20px;color: #626262">Fuel Type</div>

    <div style="display: flex;justify-content: center">
      <div style="width: 220px;text-align: center;border: 1px solid #f18f03;padding: 10px;margin-right: 5px;font-weight: bold"
           [ngStyle]="{'color':'white','background-color':'#f18f03'}">Petrol</div>
      <div style="width: 220px;text-align: center;border: 1px solid #f18f03;padding: 10px;margin-left: 5px;font-weight: bold">Diesel</div>
    </div>

    <div class="container-login100-form-btn" style="margin-top: 40px">
      <button class="login100-form-btn">
        Register
      </button>
    </div>

    <!--<div class="text-center p-t-46 p-b-20">-->
    <!--<span class="txt2">-->
    <!--or sign up using-->
    <!--</span>-->
    <!--</div>-->

    <!--<div class="login100-form-social flex-c-m">-->
    <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
    <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
    <!--</a>-->

    <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
    <!--</a>-->
    <!--</div>-->
  </form>

</div>
