<div class="" style="padding: 20px;display: flex;justify-content: center">
  <div style="width: 600px">
    <div style="margin-bottom: 20px">
      <span style="font-weight: bold;color: #b68003;font-size: 21px">Mark Attendance</span>
    </div>

    <form style="padding-top: 20px;background-color: white;" (ngSubmit)="addFuelPumperAttendance()">

      <span>Name</span>
      <input class="form-control" type="text" placeholder="Enter Name" disabled
             [value]="getName()">
      <span>Date</span>
      <input class="form-control" type="date" name="markedAt" [(ngModel)]="fuelPumperAttendance.markedAt" readonly>
      <span>Time In</span>
      <input class="form-control" type="time" name="timeIn" placeholder="Time In" [(ngModel)]="fuelPumperAttendance.timeIn">
      <span>Time Out</span>
      <input class="form-control" type="time" name="timeOut" placeholder="Time Out" [(ngModel)]="fuelPumperAttendance.timeOut">

      <div style="text-align: right;margin-top: 30px">
        <button class="btn btn-success" type="submit">Mark</button>
      </div>

    </form>
    <!--<div class="text-center p-t-46 p-b-20">-->
    <!--<span class="txt2">-->
    <!--or sign up using-->
    <!--</span>-->
    <!--</div>-->

    <!--<div class="login100-form-social flex-c-m">-->
    <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
    <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
    <!--</a>-->

    <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
    <!--</a>-->
    <!--</div>-->

  </div>
</div>
