<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="" style="padding: 20px;display: flex;justify-content: center">
  <div style="width: 600px">
    <div style="margin-bottom: 20px">
      <span style="font-weight: bold;color: #b68003;font-size: 21px">Mark Attendance</span>
    </div>

    <form style="padding-top: 10px;background-color: white;" #pumperAttForm="ngForm"
          (ngSubmit)="pumperAttForm.form.valid" novalidate>

      <div style="margin-top: 20px">Name</div>
      <input class="form-control" type="text" placeholder="Enter Name" disabled
             [value]="getName()">

      <div style="margin-top: 20px">Date</div>
      <input class="form-control" type="date" name="markedAt" [(ngModel)]="fuelPumperAttendance.markedAt" readonly>


      <div style="margin-top: 20px">Time In</div>
      <div class="row">
        <div class="col-8">
          <input class="form-control" type="time" name="timeIn" placeholder="Time In"
                 [(ngModel)]="fuelPumperAttendance.timeIn"
                 #timeIn="ngModel" required>
          <div *ngIf="(timeIn.touched || pumperAttForm.submitted) && timeIn.errors?.required"
               class="validErr">
            Time In is required
          </div>
        </div>
        <div class="col-4" style="text-align: right;">
          <button class="btn btn-success"type="button" (click)="addFuelPumperAttendance()" >Mark</button>
        </div>
      </div>

      <div style="margin-top: 20px">Time Out</div>
      <div class="row">
        <div class="col-8">
          <input class="form-control" type="time" name="timeOut" placeholder="Time Out"
                 [(ngModel)]="fuelPumperAttendance.timeOut"
                 #timeOut="ngModel" required>
<!--          <div *ngIf="(timeOut.touched || pumperAttForm.submitted) && timeOut.errors?.required"-->
<!--               class="validErr">-->
<!--            Time Out is required-->
<!--          </div>-->
        </div>
        <div class="col-4" style="text-align: right">
          <button class="btn btn-success" type="button" (click)="markTimeOutAttendance()">Mark</button>
        </div>

      </div>
    </form>
    <!--<div class="text-center p-t-46 p-b-20">-->
    <!--<span class="txt2">-->
    <!--or sign up using-->
    <!--</span>-->
    <!--</div>-->

    <!--<div class="login100-form-social flex-c-m">-->
    <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
    <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
    <!--</a>-->

    <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
    <!--</a>-->
    <!--</div>-->

  </div>
</div>
