<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div class="col-md-5 col-sm-12" style="border-right: 1px solid #aeaeae">
    <div style="padding: 20px;display: flex;justify-content: center">
      <div style="margin-top: 20px">
        <div style="border: 0px solid black;margin-bottom: 20px">
          <div id="qrImg" style="display: flex;justify-content: center;background-color: white">
            <div>
              <qr-code [value]="customer!==null?customer.vehicle.secKey:''" size="250"></qr-code>
              <div style="text-align: center">{{customer.vehicle.vehicleNumber}}</div>
            </div>
          </div>
        </div>
        <div style="margin-top: 0px;display: flex;justify-content: center;width: 100%">
          <table>
            <tr>
              <td>Weekly Quota</td>
              <td>{{customer.vehicle.vehicleType.fuelReference}}L</td>
            </tr>
            <tr>
              <td>Balanced Quota</td>
              <td>{{customer.vehicle.vehicleType.fuelReference - customer.quota}}L</td>
            </tr>
          </table>
        </div>
        <div style="margin-top: 20px;display: flex;justify-content: center;width: 100%">
          <button class="btn btn-success" type="button" (click)="regenerateQR()" style="margin-right: 10px">Regenerate
            QR
          </button>
          <button class="btn btn-warning" type="button" (click)="generateImage()">Download QR</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-sm-12">
    <div style="padding: 20px">
      <div>
        <span style="font-weight: bold;color: #b68003;font-size: 21px">My Profile</span>
        <div style="margin-left: 10px;margin-top: 10px">
          <table>
            <tr>
              <td>Name</td>
              <td>{{customer.name}}</td>
            </tr>
            <tr>
              <td>Vehicle Number</td>
              <td>{{customer.vehicle.vehicleNumber}}</td>
            </tr>
            <tr>
              <td>Vehicle Type</td>
              <td>{{customer.vehicle.vehicleType.name}}</td>
            </tr>
            <tr>
              <td>Fuel Type</td>
              <td>{{customer.vehicle.fuelType}}</td>
            </tr>
            <tr>
              <td>Chassis Number</td>
              <td>{{customer.vehicle.chassisNumber}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div style="margin-top: 20px;margin-left: 40px">
      <button class="btn btn-primary" style="margin-right: 10px" (click)="updateCustomer()">Edit Profile</button>
      <button class="btn btn-danger" type="button" (click)="deleteCustomer()">Delete Profile</button>
    </div>
  </div>
</div>

<!--<div >-->
  <!--&lt;!&ndash;<a id="qrLink"></a>&ndash;&gt;-->
  <!--<div id="qrImg"-->
       <!--style="display: none;position: absolute;width: 300px;height: 300px;top: 0px;left: 0px;justify-content: center;align-content: center;background-color: white">-->
    <!--<div>-->
      <!--<qr-code [value]="customer!==null?customer.vehicle.secKey:''" size="250"></qr-code>-->
      <!--<div style="text-align: center">{{customer.vehicle.vehicleNumber}}</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

