<div class="row" style="margin: 80px 0px 0px 0px">
  <div class="col-md-6 col-sm-12">
    <span style="font-weight: bold;color: #b68003;font-size: 21px">Pumper's Attendance</span>
    <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
      <thead class="thead-dark">
      <th>#</th>
      <th>Pumper</th>
      <th>In</th>
      <th>Out</th>
      <th>Vehicle Count</th>
      </thead>
      <tbody>
      <tr *ngFor="let d1 of attendance let i = index">
        <th scope="row">{{i+1}}</th>
        <th>{{d1.fuelPumperAttendance.fuelPumper.nic}}</th>
        <td>{{d1.fuelPumperAttendance.markedAt}}  {{d1.fuelPumperAttendance.timeIn}}</td>
        <td>{{d1.fuelPumperAttendance.markedAt}}  {{d1.fuelPumperAttendance.timeOut}}</td>
        <td>{{d1.countdata}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-sm-12">
    <span style="font-weight: bold;color: #b68003;font-size: 21px">Fuel Incoming</span>
    <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
      <thead class="thead-dark">
      <th>#</th>
      <th>Date</th>
      <th>Fuel Type</th>
      <th>Vehicle</th>
      <th>Driver</th>
      <th>Amount</th>
      </thead>
      <tbody>
      <tr>
      <tr *ngFor="let d of data let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{d.fuelAdminStockOut.date}}</td>
        <td>{{d.fuelAdminStockOut.fuelType}}</td>
        <td>{{d.fuelAdminStockOut.vehicleNumber}}</td>
        <td>{{d.fuelAdminStockOut.driverName}}</td>
        <td>{{d.fuelAdminStockOut.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
