<div style="display: flex;justify-content: center">

  <div style="width: 600px;margin-top: 20px">
    <div>
      <span style="font-weight: bold;color: #b68003;font-size: 21px">Register Fuel Admin</span>
    </div>
    <form style="padding-top: 20px;background-color: white;"
          #regFuelAdminForm="ngForm"
          (ngSubmit)="regFuelAdminForm.form.valid && addFuelAdmin()" novalidate>

      <div style="margin-top: 20px">NIC</div>
      <input class="form-control" type="text" name="nic" placeholder="Enter NIC" [(ngModel)]="fuelAdmin.nic"
             #nic="ngModel" required appNicValidator>
      <div *ngIf="(nic.touched || regFuelAdminForm.submitted) && nic.errors?.required"
           class="validErr">
        NIC is required
      </div>
      <div *ngIf="(nic.dirty) && nic.errors?.nicInvalid"
           class="validErr">
        Invalid NIC
      </div>

      <div style="margin-top: 20px">Name</div>
      <input class="form-control" type="text" name="name" placeholder="Enter Name" [(ngModel)]="fuelAdmin.name"
             #name="ngModel" required>
      <div *ngIf="(name.touched || regFuelAdminForm.submitted) && name.errors?.required"
           class="validErr">
        Name is required
      </div>

      <div style="margin-top: 20px">Address</div>
      <input class="form-control" type="text" name="address" placeholder="Enter Address"
             [(ngModel)]="fuelAdmin.address"
             #address="ngModel" required>
      <div *ngIf="(address.touched || regFuelAdminForm.submitted) && address.errors?.required"
           class="validErr">
        Address is required
      </div>

      <div style="margin-top: 20px">Contact Number</div>
      <input class="form-control" type="text" name="contact" placeholder="Enter Contact Number"
             [(ngModel)]="fuelAdmin.appUser.contactNumber"
             #contactNumber="ngModel" required appTelephoneValidator>
      <div *ngIf="(contactNumber.touched || regFuelAdminForm.submitted) && contactNumber.errors?.required"
           class="validErr">
        Contact Number is required
      </div>
      <div *ngIf="(contactNumber.dirty) && contactNumber.errors?.telephoneInvalid"
           class="validErr">
        Invalid Contact Number
      </div>

      <div style="margin-top: 20px">Email</div>
      <input class="form-control" type="text" name="email" placeholder="Enter Email"
             [(ngModel)]="fuelAdmin.appUser.email"
             #email="ngModel" required appEmailValidator>
      <div *ngIf="(email.touched || regFuelAdminForm.submitted) && email.errors?.required"
           class="validErr">
        Email is required
      </div>
      <div *ngIf="(email.dirty) && email.errors?.emailInvalid"
           class="validErr">
        Invalid Email
      </div>

      <div style="margin-top: 20px">Password</div>
      <input class="form-control" type="password" name="password" placeholder="Enter Password"
             [(ngModel)]="fuelAdmin.appUser.password"
             #password="ngModel" required>
      <div *ngIf="(password.touched || regFuelAdminForm.submitted) && password.errors?.required"
           class="validErr">
        Password is required
      </div>

      <div class="container-login100-form-btn"
           style="margin-top: 40px;margin-bottom: 40px;display: flex;flex-wrap: nowrap">
        <button class="login100-form-btn" type="button" [routerLink]="'/login'" style="margin-right: 10px">
          Back to login
        </button>
        <button class="login100-form-btn" type="submit" style="margin-left: 10px">
          Register
        </button>
      </div>

      <!--<div class="text-center p-t-46 p-b-20">-->
      <!--<span class="txt2">-->
      <!--or sign up using-->
      <!--</span>-->
      <!--</div>-->

      <!--<div class="login100-form-social flex-c-m">-->
      <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
      <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
      <!--</a>-->

      <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
      <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
      <!--</a>-->
      <!--</div>-->
    </form>
  </div>

</div>
