<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div class="col-md-5 col-sm-12" style="border-right: 1px solid #aeaeae">
    <div style="padding: 20px;display: flex;justify-content: center">
      <div style="margin-top: 20px">
        <div style="width: 200px;height: 200px;border: 0px solid black;margin-bottom: 20px">
          <qr-code [value]="'abc'" size="200"></qr-code>
        </div>
        <div><span style="font-weight: bold">Weekly Quota -></span> 20L</div>
        <div><span style="font-weight: bold">Balanced Quota -></span> 10L</div>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-sm-12">
    <div style="padding: 20px">
      <div>
        <span style="font-weight: bold;color: #b68003;font-size: 21px">My Profile</span>
        <div style="margin-left: 10px;margin-top: 10px">
          <div><span style="font-weight: bold">Name -></span> Kamal Perera</div>
          <div><span style="font-weight: bold">Vehicle Number -></span> CBA - 1234</div>
          <div><span style="font-weight: bold">Vehicle Type -></span> CBA - 1234</div>
          <div><span style="font-weight: bold">Fuel Type -></span> CBA - 1234</div>
          <div><span style="font-weight: bold">Chassis Number -></span> CBA - 1234</div>
        </div>
      </div>
      <div style="margin-top: 20px">
        <span style="font-weight: bold;color: #b68003;font-size: 21px">Fuel Consumption</span>
        <div style="margin-left: 10px;margin-top: 10px">
          <div>
            <span style="font-weight: bold">Enter last trip -></span>
            <input type="text" style="border: 1px solid #858585;margin-left: 10px;margin-right: 10px">
            <button class="btn btn-success">Check</button>
          </div>
          <div><span style="font-weight: bold">Consumption -></span> 15 Km/L</div>
        </div>
        <div style="margin-top: 20px">
          <button class="btn btn-primary" style="margin-right: 10px">Edit Profile</button>
          <button class="btn btn-danger">Delete Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="border-top: 1px solid #aeaeae;margin: 10px">
  <div style="display: flex;justify-content: right;margin-top: 20px">
    <select class="form-control" style="width: 200px;margin-right: 10px">
      <option value="">Order By</option>
      <option value="car">Car</option>
    </select>
    <button class="btn btn-success">Search</button>
  </div>

  <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
    <thead class="thead-dark">
    <th>#</th>
    <th>Date</th>
    <th>Pumped</th>
    <th>Fuel Station</th>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>2022-02-02</td>
      <td>Pumped</td>
      <td>Galle</td>
    </tr>
    </tbody>
  </table>
</div>
