<div style="display: flex;justify-content: center">
  <form class="login100-form validate-form" style="padding-top: 40px;background-color: white;width: 700px" (ngSubmit)="updateCustomer()">

    <span>NIC</span>
    <input class="form-control" type="text" name="nic" placeholder="Enter NIC" [(ngModel)]="customer.nic">
    <span>Name</span>
    <input class="form-control" type="text" name="name" placeholder="Enter Name" [(ngModel)]="customer.name">
    <span>Address</span>
    <input class="form-control" type="text" name="address" placeholder="Enter Address" [(ngModel)]="customer.address">
    <span>Contact Number</span>
    <input class="form-control" type="text" name="contact" placeholder="Enter Contact Number" [(ngModel)]="customer.contactNumber">
    <span>Email</span>
    <input class="form-control" type="text" name="email" placeholder="Enter Email" [(ngModel)]="customer.appUser.email">
    <!--<span>OTP</span>-->
    <!--<div style="display: flex;border-top: 0px solid #eeeeee;padding-top: 10px;padding-bottom: 10px">-->
      <!--<div style="width: 200px">-->
        <!--<button class="btn btn-warning" style="height: 40px">Send OTP</button>-->
      <!--</div>-->
      <!--<div style="width: 100%">-->
        <!--<input class="form-control" type="text" placeholder="Enter OTP">-->
      <!--</div>-->
    <!--</div>-->
    <span>Vehicle Number</span>
    <input class="form-control" type="text" name="vehicleNumber" placeholder="Vehicle Number" [(ngModel)]="customer.vehicleNumber">
    <span>Chassis Number</span>
    <input class="form-control" type="text" name="chassisNumber" placeholder="Chassis Number"  [(ngModel)]="customer.chassisNumber">

    <span>Vehicle Type</span>
    <select class="form-control">
      <option value="">Select</option>
      <option value="car">Car</option>
    </select>

    <div style="margin-bottom: 10px">
      <span style="font-weight: bold;">Fuel Type</span>
    </div>

    <div style="display: flex;justify-content: center">
      <div
        style="width: 350px;text-align: center;border: 1px solid #f18f03;padding: 10px;margin-right: 5px;font-weight: bold"
        [ngStyle]="{'color':'white','background-color':'#f18f03'}">Petrol
      </div>
      <div
        style="width: 350px;text-align: center;border: 1px solid #f18f03;padding: 10px;margin-left: 5px;font-weight: bold">
        Diesel
      </div>
    </div>

    <div class="container-login100-form-btn" style="margin-top: 40px">
      <button class="login100-form-btn" type="submit">
        Update
      </button>
    </div>

    <!--<div class="text-center p-t-46 p-b-20">-->
    <!--<span class="txt2">-->
    <!--or sign up using-->
    <!--</span>-->
    <!--</div>-->

    <!--<div class="login100-form-social flex-c-m">-->
    <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
    <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
    <!--</a>-->

    <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
    <!--</a>-->
    <!--</div>-->
  </form>

</div>
