<div style="margin: 10px;">
  <div style="display: flex">
    <span style="font-weight: bold;color: #b68003;font-size: 21px;width: 100%;margin-top: 25px">Stock List</span>
    <div style="display: flex;justify-content: right;margin-top: 20px;width: 100%">
      <select class="form-control" style="width: 200px;margin-right: 10px">
        <option value="">Search By Fuel Type</option>
        <option value="car">Car</option>
      </select>
      <button class="btn btn-warning" style="margin-right: 40px">Search</button>
      <select class="form-control" style="width: 200px;margin-right: 10px">
        <option value="">Search By Destination</option>
        <option value="car">Car</option>
      </select>
      <button class="btn btn-warning">Search</button>
    </div>
  </div>

  <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
    <thead class="thead-dark">
    <th scope="col">#</th>
    <th>Fuel Type</th>
    <th>From</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Time</th>
    <th style="text-align: center">Update or Delete</th>
    </thead>
    <tbody>
    <tr *ngFor="let d of data let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{d.fuelType}}</td>
      <td>{{d.stockFrom}}</td>
      <td>{{d.amount}}</td>
      <td>{{d.date}}</td>
      <td>{{d.time}}</td>
      <td style="text-align: center">
        <i  class="fas fa-pencil"></i>
        <i  class="fas fa-trash" style="padding-left: 10px"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: right;margin-top: 30px">
    <button class="btn btn-success">Generate PDF</button>
  </div>
</div>
