<div class="row" style="margin: 80px 0px 0px 0px" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-8 col-sm-12">
    <span style="font-weight: bold;color: #b68003;font-size: 21px">Fuel Dealers</span>
    <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
      <thead class="thead-dark">
      <th>#</th>
      <th>Delaer</th>
      <th>Location</th>
      <th>Contact</th>
      <th>Order</th>
      </thead>
        <tbody>
          <tr *ngFor="let d1 of fuelAdmin let i = index">
        <th scope="row">{{i+1}}</th>
        <th>{{d1.nic}}-{{d1.name}}</th>
        <td>{{d1.address}}</td>
        <td>{{d1.appUser.contactNumber}}</td>
        <td><button class="btn btn-outline-info btn-lg " style="margin-left: 15px; border-radius: 100px; width: 50px; height: 50px"
                    data-bs-target="#search_fuel_report" (click)="getDataorder(d1)" data-bs-toggle="modal">
          <i class="fa-solid fa-plus nav_icon"></i>
        </button></td>
          </tr>
        </tbody>
    </table>

    <span style="font-weight: bold;color: #b68003;font-size: 21px">Order Details</span>
    <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
      <thead class="thead-dark">
      <th>#</th>
      <th>Delaer</th>
      <th>Fuel type</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
      </thead>
      <tbody>
      <tr *ngFor="let d1 of fuelOrder let i = index">
        <th scope="row">{{i+1}}</th>
        <th>{{d1.fuelAdmin.nic}}-{{d1.fuelAdmin.name}}</th>
        <td>{{d1.orderData.fuelType}}</td>
        <td>{{d1.orderData.amount}}</td>
        <td>{{d1.orderData.status}}</td>
        <td><button class="btn btn-outline-info btn-lg " style="margin-left: 15px; border-radius: 100px; width: 50px; height: 50px"
                    data-bs-target="#search_fuel_report" (click)="getDataorder1(d1)" data-bs-toggle="modal">
          <i class="fa-solid fa-pencil nav_icon"></i>
        </button></td>
        <td><button class="btn btn-outline-info btn-lg " style="margin-left: 15px; border-radius: 100px; width: 50px; height: 50px"
                    data-bs-target="#delete" (click)="getDataorder2(d1)" data-bs-toggle="modal">
          <i class="fa-solid fa-trash nav_icon"></i>
        </button></td>
      </tr>
      </tbody>
    </table>
  </div>

<!--  <ul class="list">-->
<!--    <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="90" >-->
<!--      <ng-container *cdkVirtualFor="let n of fuelAdmin">-->
<!--        <li> {{n.nic}} </li>-->
<!--      </ng-container>-->
<!--    </cdk-virtual-scroll-viewport>-->
<!--  </ul>-->
  <div class="col-md-4 col-sm-12" style="border:1px solid grey;borderRadius: 10px;marginTop: 15px; margin-bottom:10px;padding: 10px">
    <div class="container" style="min-height: calc(110vh - 325px)">
      <div class="row" style="background-color: #1da1f2;min-height: calc(10vh - 25px);borderRadius: 10px">
        <div class="col-1" style> <h3 style="color: white;margin-top: 10px">Chat</h3></div>
        <div class="col-1">
          <div style="background-color:red;margin-top: 10px; margin-left: 30px; borderRadius:50%;color: white;height: 35px;width: 35px;display: block">
            <span style="margin-left: 12px"><i class="fa-solid fa-bell"></i></span></div>
          </div>
      </div>
      <div class="row">
      <div style="width: 100%">
            <div style="width: 100%">
              <cdk-virtual-scroll-viewport  style="height: 450px;width: 100%;width: 100%" itemSize="1" >
            <ng-container *ngFor="let chat of chatyou">
            <div class="row" style="width: 100%; margin-left: 10px">
              <div class="col-10" *ngIf="chat['chaterName']!=c.chaterName">
                <div class="row" >
                  <div class="col-6"></div>
                  <div class="col-6" style="border:1px solid grey; borderRadius: 10px;marginTop: 15px; padding: 10px" >
                    <div>
                      <span style="fontWeight: bold">{{chat['msg']}}</span>
                    </div>
                    <div style="display:flex; justifyContent: right">
                      <span style="font-size: 12px;">{{chat['chaterName']}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-10" *ngIf="chat['chaterName']==c.chaterName">
                <div >
                  <div class="row" >
                    <div class="col-6" style="border:1px solid grey;borderRadius: 10px;marginTop: 15px;padding: 10px">
                      <div>
                        <span style="fontWeight:bold">{{chat['msg']}}</span>
                      </div>
                      <div style="display:flex; justifyContent: right">
                        <span style="fontSize: 12px">{{chat['chaterName']}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
            </ng-container>
          </cdk-virtual-scroll-viewport>
          <div class="row"  style="border:1px solid grey;borderRadius: 10px;marginTop: 15px;padding: 10px; margin-bottom: 12px;position: absolute;bottom: 0px;width: 100%">
                      <div class="col-10" style="margin-bottom: 12px; margin-left: auto; margin-right: auto">
                      <form  #chatapplication="ngForm" (ngSubmit)="chatapplication.form.valid && onSubmit()" novalidate class="signUp" action="" method="get">
                        <div class="row">
                          <div class="col-10">
                            <textarea name="name"   style="border:1px solid grey; width: 100%; borderRadius: 10px;marginTop: 15px; background-color: #cccccc; padding: 10px" [(ngModel)]="c.msg"></textarea>
                          </div>
                          <div class="col-2">
                            <button class="btn btn-warning" style="fontWeight: bold;marginTop: 25px;" type="submit">
                              Send
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
          </div>
<!--          <div class="row" style="display: flex; width: 100%; marginTop: 20px; float:right;">-->
<!--            <div class="col-2" style="fontWeight: bold">Message :</div>-->
<!--            <div class="col-2" style="fontWeight: bold">-->
<!--            </div>-->
<!--            <form  novalidate class="signUp" action="" method="get">-->
<!--              <div class="col-6">-->
<!--                <textarea name="name"  style="border:1px solid grey; borderRadius: 10px;marginTop: 15px; background-color: #cccccc; padding: 10px">You</textarea>-->
<!--              </div>-->
<!--              <div class="col-1">-->
<!--                <button class="btn btn-warning" style="fontWeight: bold" type="submit">-->
<!--                  Send-->
<!--                </button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<div class="modal fade " style="width: 1500px" id="search_fuel_report" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pagetitle">
          <span style="font-size: 25px;font-weight: bold;color: #750202" *ngIf="btnadd===1">Order Fuel</span>
          <span style="font-size: 25px;font-weight: bold;color: #750202" *ngIf="btnupdate===1">Update Fuel</span>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">

            <section class="section">
              <form style="padding-top: 20px;background-color: white;" #orderForm="ngForm" (ngSubmit)="orderForm.form.valid " novalidate>

                <div>Fuel Type</div>
                <select class="form-control" name="type"  [(ngModel)]="order.fuelType"
                        #fuelType="ngModel" required   >
                  <option value="">Select</option>
                  <option value="92">Petrol 92</option>
                  <option value="95">Petrol 95</option>
                  <option value="SDisel">Super Diesel</option>
                  <option value="ADisel">Auto Diesel</option>
                </select>
                <div *ngIf="(fuelType.touched || orderForm.submitted) && fuelType.errors?.required"
                     class="validErr">
                  Fuel Type is required
                </div>

                <div style="margin-top: 20px">Amount</div>
                <input class="form-control" type="number" name="name" placeholder="Enter Name" [(ngModel)]="order.amount"
                       #name="ngModel" required>
                <div *ngIf="(name.touched || orderForm.submitted) && name.errors?.required"
                     class="validErr">
                  Amount is required
                </div>


                <div class="container-login100-form-btn" style="margin-top: 40px;margin-bottom: 40px">
                  <button class="login100-form-btn" type="submit" (click)="addorder() " data-bs-dismiss="modal" *ngIf="btnadd===1">
                    Order
                  </button>
                  <button class="login100-form-btn" type="submit" (click)="updateorder()"data-bs-dismiss="modal"  *ngIf="btnupdate===1">
                    Update
                  </button>
                </div>

                <!--<div class="text-center p-t-46 p-b-20">-->
                <!--<span class="txt2">-->
                <!--or sign up using-->
                <!--</span>-->
                <!--</div>-->

                <!--<div class="login100-form-social flex-c-m">-->
                <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
                <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
                <!--</a>-->

                <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
                <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
                <!--</a>-->
                <!--</div>-->
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " style="width: 1500px" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pagetitle">
          <span style="font-size: 25px;font-weight: bold;color: #750202">Warning</span>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">

            <section class="section">
              <form style="padding-top: 20px;background-color: white;" #orderForm="ngForm" (ngSubmit)="orderForm.form.valid " novalidate>

                <div align="center" style="color: #b21f2d"><h2>Are you sure you want to delete</h2></div>



                <div class="container-login100-form-btn row" style="margin-top: 40px;margin-bottom: 40px">
                  <div class="col-6">
                    <button class="login100-form-btn" type="submit" (click)="delete()" data-bs-dismiss="modal">
                      Yes
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="login100-form-btn" type="submit"data-bs-dismiss="modal" >
                      No
                    </button>
                  </div>


                </div>

                <!--<div class="text-center p-t-46 p-b-20">-->
                <!--<span class="txt2">-->
                <!--or sign up using-->
                <!--</span>-->
                <!--</div>-->

                <!--<div class="login100-form-social flex-c-m">-->
                <!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
                <!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
                <!--</a>-->

                <!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
                <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
                <!--</a>-->
                <!--</div>-->
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

