<div style="display: flex;justify-content: center">
  <form action="" (ngSubmit)="addFuelStock()">
    <div style="margin-top: 20px">
      <span style="font-weight: bold;color: #b68003;font-size: 21px">Fuel Stock</span>
    </div>
    <div class="row" style="margin-top: 20px;margin-left: 0px;margin-right: 0px">

      <!--<form action="" (ngSubmit)="addFuelStock()">-->

      <!--<div class="col-12" style="padding: 20px">-->
      <!--<div>-->
      <!--<span style="font-weight: bold;color: #b68003;font-size: 21px">Expected Arrival Date and Time</span>-->
      <!--<div style="margin-left: 10px;margin-top: 10px;display: flex">-->
      <!--<input type="datetime-local" class="form-control" style="width: 300px;margin-right: 20px"-->
      <!--[(ngModel)]="fuelStock.expectedArrival">-->
      <!--<button class="btn btn-warning">Display</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <div class="col-12" style="padding: 20px;border-top: 1px solid #aeaeae;display: flex;justify-content: center">

        <div style="margin-right: 20px;width: 100%">
          <span>Amount (L)</span>
          <input type="text" placeholder="Enter Amount" class="form-control" name="amount"
                 [(ngModel)]="fuelStock.amount">
        </div>
        <div style="margin-right: 20px;width: 100%">
          <span>Vehicle Number</span>
          <input type="text" placeholder="Enter Vehicle Number" class="form-control" name="vehicleNumber"
                 [(ngModel)]="fuelStock.vehicleNumber">
        </div>
        <div style="width: 100%">
          <span>Driver</span>
          <input type="text" placeholder="Enter Driver" class="form-control" name="driver"
                 [(ngModel)]="fuelStock.driver">
        </div>
      </div>

      <div class="col-12" style="padding: 20px;display: flex;justify-content: center">
        <div style="margin-right: 20px;width: 100%">
          <span>Actual Arrival Date and Time</span>
          <input type="datetime-local" class="form-control" name="actualArrival"
                 [(ngModel)]="fuelStock.actualArrival">
        </div>
        <div style="margin-right: 20px;width: 100%">
          <span>Fuel Type</span>
          <select class="form-control" [(ngModel)]="fuelStock.fuelType" name="fuelType">
            <option value="">Select</option>
            <option value="92 Petrol">92 Petrol</option>
            <option value="95 Petrol">95 Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="Super Diesel">Super Diesel</option>
          </select>
        </div>
        <div style="width: 100%">
          <button class="btn btn-success" type="submit" style="margin-top: 22px;text-align: center">Add Stock</button>
        </div>
      </div>

    </div>
  </form>
</div>

<div style="border-top: 1px solid #aeaeae;margin: 10px">
  <div *ngFor="let fuelStock of fuelStocks">
    <div style="margin-top: 40px;font-weight: bold">{{fuelStock.fuelType}}</div>
    <table class="table" width="100%" style="margin-top: 20px;border:2px solid #D19702">
      <!--<thead class="thead-dark">-->
      <!--<th>#</th>-->
      <!--<th>Date</th>-->
      <!--<th>Pumped</th>-->
      <!--<th>Fuel Station</th>-->
      <!--</thead>-->
      <tbody>
      <tr>
        <td>Distributed Fuel</td>
        <td>13000</td>
      </tr>
      <tr>
        <td>Distributed Vehicle Count</td>
        <td>500</td>
      </tr>
      <tr>
        <td>Available Stock</td>
        <td>{{fuelStock.availableStock}}</td>
      </tr>
      <tr>
        <td>Available Hours</td>
        <td>500</td>
      </tr>
      <tr>
        <td>Fuel Supply per hour</td>
        <td>500</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
